black
celery
Django
django-author
django-celery-results
django-ckeditor
django-jazzmin
django-js-asset
django-markdownfield
django-mptt
django-social-share
kombu
Markdown
markdown2
MarkupPy
Pillow
pip-tools
psycopg2-binary
python-dotenv
PyYAML
redis
whitenoise