{% extends "base.html" %}
{% block content %}
<style>
    body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.messages {
            background-color: rgb(243, 164, 164);
            color: rgb(230, 36, 36);
            padding: 10px;
            margin-top: 10px;
        }
</style>

<div class="container" >
<div class="content-section">
    <div class="media">
        
    <form method="POST" action="/accounts/account" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Your Info</legend>
            <div class="form-group">

                {% if form.username.errors %}
                    {{ form.username }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username }}
                {% endif %}
            </div>
            <div class="form-group">
                
                {% if form.email.errors %}
                    {{ form.email }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <div class="form-group">

                {% if request.user.profile.profile_photo and request.user.profile.profile_photo.name != 'False' %}
                <div class="m-b-25"> <img src="/media/{{request.user.profile.profile_photo}}" width="100" class="rounded-circle account-img" alt="User-Profile-Image"> </div>
                
                {% else %}
                <div class="m-b-25"> <img src="/static/default.jpg" width="100" class="rounded-circle account-img" alt="User-Profile-Image"> </div>
                
                {% endif %}
                
                {{ form.profile_photo }}
                
                {% if form.profile_photo.errors %}
                    {% for error in form.profile_photo.errors %}
                    <span class="text-danger">{{error}}</span>
                    {% endfor%}
                {% endif %}

               <br>
                    {% for message in messages %}
                    <span class="text-danger">{{message}}</span>
                    {% endfor%}
                
                <br><br>
                
                <div class="form-group">
                    <br><button class="btn btn-outline-info" type="submit">Update</button>
                </div>
        </fieldset>
        
    </form>
  </div>
</div>
{% endblock %}
